src/main/mule/test-demo-api-git-hub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2560d4af-d4e8-47e0-94dd-d3c66f98bda2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-demo-api-git-hubFlow" doc:id="f0c9e82f-8985-4608-869a-a95080e182fa" >
		<http:listener doc:name="Listener" doc:id="f878a312-bdfa-4dfc-8444-57d0cf562cd5" config-ref="HTTP_Listener_config" path="/base"/>
		<logger level="INFO" doc:name="Logger" doc:id="cf5fcd7b-07c4-497e-af2a-f6eedf0e1a9b" message='"hell world improved this logger"'/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ce24d077-fee4-4580-a2d0-7c5c78013677" />
	</flow>
</mule>
